/* Main page */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  gap: 40px;
  padding: 15px;
  width: 100%;
  background-color: rgb(48, 83, 48);
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(48, 83, 48);
  color: white;
}

.header-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  width: 600px;
}

.top-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

li {
  display: flex;
  justify-content: space-around;
  color: white;
  list-style: none;
  font-size: larger;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.mid-part {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}

.img {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid rgb(217, 209, 209);
  background-color: rgb(233, 233, 242);
  box-shadow: 0 10px 10px rgba(157, 150, 150, 0.2);
}

.img p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(16, 23, 23);
  font-size: 30px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.title {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 20px;
  color: rgb(48, 83, 48);
}

.title span {
  font-size: 14px;
  font-style: italic;
}

.about-me-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 550px;
  gap: 20px;
  padding: 20px;
}

.left-side-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 100px;
  margin: 20px;
  width: 300px;
  height: 360px;;
  flex-wrap: wrap;
  font-size: 20px;;
  background-color: rgb(233, 233, 242);
  box-shadow: 0 10px 10px rgb(110, 108, 108);
  border-radius: 10px;
  animation: slideIn 1.5s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(800px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.download-resume {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 5px;
}

.download-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  box-shadow: 0 10px 10px rgb(94, 92, 92);
  height: 30px;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.download-btn:hover {
  background-color: #0056b3;
}

.resume-btn i {
  margin-right: 8px;
  color: #ff4b4b;
}
.right-side-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  width: 400px;
  height: auto;;
  flex-wrap: wrap;
  font-size: 5px;
  background-color: rgb(233, 233, 242);
  box-shadow: 0 10px 10px rgb(110, 108, 108);
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(233, 233, 242,);
  overflow: hidden;
}

.right-side-resume {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.right-side-resume img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.contact-form h2 {
  color: white;
}

.contact-form-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 15px;
  width: 600px;
  height: auto;
  background-color: rgb(48, 83, 48);
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(48, 83, 48);
}

.first-last-name-input {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 30px;
}

.email-input input {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 360px;
}


.reason-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reason-input textarea{
  height: 150px;
  width: 360px;
  gap: 20px;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.submit-btn button:hover {
  background-color: blue;
  color: white;
  scale: 1.1;
  transition: all 0.3s;
  border-radius: 5px;
}


/* Tablet screens */
@media (min-width: 768px) and (max-width: 1023px) {
.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
  height: auto;
}

.left-side-container {
  width: 90%;
  height: auto;
}

.right-side-container {
  width: 90%;
  height: 800px;
}

.contact-form {
  width: 100%;
}

.contact-form-card {
  width: 100%;
}

}

@media (max-width: 767px) {
  .head-container {
    height: auto;
    gap: 20px;
    width: 100%;
  }

  .header-list {
    width: 100%;
    gap: 20px;
    padding: 10px;
  }

  .top-part {
    gap: 20px;
  }

  .mid-part {
    flex-direction: column;
    gap: 20px;
  }

  .img-container {
    width: 120px;
    height: 120px;
  }

  .img {
    width: 80px;
    height: 80px;
  }

  .title {
    font-size: large;
    text-align: center;
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: auto;
  }

  .left-side-container {
    width: 90%;
    height: auto;
    gap: 50px;
  }

  .right-side-container {
    width: 90%;
    height: auto;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form-card {
    width: 100%;
    padding: 10px;
    gap: 20px;
  }
}